.App {
  text-align: center;
  background-color: #771a1a;
  padding-top: 20px;
}


label, h2 {
  background-color: #942424;
  border: 1px solid black;
}


.Calculo {
  margin: 10px;
   
}



.contenedor {
  display: flex;
  justify-content: center;  
 background-color: #771a1a;

}


